.message-box
  .message-box__top-box
    .message-box__top-box__user-box 
      = message.user.name  
    .message-box__top-box__time-box
      = message.created_at.to_s(:datetime)
  .lower-message
  - if message.content.present?
    %p.lower-message__content
      = message.content
  = image_tag(message.image) if message.image.present?