.wrapper

  .chat-side
    .side-header
      =render 'shared/side_bar'
    .groups_list
      =render 'shared/group_lists'
  .chat-main
    =render 'messages/index'
    -# .main-header
    -#   .main-header__left-box
    -#     .main-header__left-box__crrent-group
    -#       ss
    -#     .main-header__left-box__menbar-list
    -#       aaaaaaaaaaaaa
    -#   .main-header__right-box
    -#     .main-header__right-box__edit-btm
    -#       Edit
    -# .messages
    -#   .message-box
    -#     .message-box__user-box
    -#       rrrrr
    -#       .message-box__user-box__time-box
    -#         2019/08/00

    -#     .message-box__message-box
    -#       ffffffffff
    .form
      .form-box
        .form-box__input-box
          ssss
          .form-box__input-box__icon
            = fa_icon 'image'
        .form-box__send-box
          send
